

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<app-meni></app-meni>
<div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="vodja">Vodja nacionalne delegacije {{korisnik.nationality}}</a>
      </div>
      <ul class="nav navbar-nav">
        
        <li><a href="prijavatakmicenje">Prijava sportista za takmicenje</a></li>
        <li><a href="#"></a></li>
      
      </ul>
    </div>
  </nav>
  <div class="dugme">
    <button (click) = 'home()'>Odjava</button>
    </div>
    
</div>
<div class= "div1"  >
    
      
    
    <header class="welcome-text">
    Dobrodosli na stranicu vodje nacionalne delegacije zemlje {{korisnik.nationality}} na Olimpijskim igrama u Tokiu 2021!
  </header>

  

</div>

