


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<app-meni></app-meni>
<div>
<nav class="navbar navbar-inverse">
    <div>
      <div>
        <a class="navbar-brand" href="#">Organizator OI</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="home">Home</a></li>
        <li><a href="zahtev">Korisnicki zahtevi</a></li>
        <li><a href="unossport">Unos sportova i disciplina</a></li>
        <li><a href="unostakmicenje">Unos takmicenja</a></li>

      </ul>
    </div>
  </nav>
  <div>
    <button (click) = 'odjava()'>Logout</button>
  </div>
</div>


<div class= "div1"  >
    
      
    
    <header class="welcome-text"style=" background-image: url('assets/5.jpg');">
    Dobrodosli na stranicu organizatora Olimpijskih igara u Tokiu 2021!
  </header>

  

</div>



