


<form>
    <body>
        
        <header style="background-image: url('assets/3.jpg');">
            <div class="wrapper">
                <div class="logo">
                    <img src="assets/1.jpg.jpg" alt="">
                </div>
             
                <div class="logandreg">
                    <a href="/login">Login</a> 
                    <a href="/register"> Registration</a>
                </div>
                <ul class="nav-area">
                    <li><a href="#">Home</a></li>
                    <li><a href="/zemlje">Zemlje ucesnice</a></li>
                    <li><a href="/medalje">Osvojene medalje na Olimpijadi</a></li>
                    <li><a href="/sportisti">Sportisti na Olimpijadi</a></li>
                </ul>
            </div>

            <div class="welcome-text" style="color: burlywood;">
                <h1>Dobrodosli na stranicu Olimpijskih igara u Tokiu!</h1>
            </div>
        </header>
    </body>
</form>